@import url("https://site-assets.fontawesome.com/releases/v6.5.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Lansbury";
  src: url(/lansbury.ttf);
}
:root {
  --brown: #F1B057;
  --bg: black;
  --red: #9F2B27;
  --menu-size: 300px;
  --menu-size-negative: calc(var(--menu-size) * -1);
}
html, body {
  color: white;
  background: var(--bg);
  height: 100vh;
  scroll-behavior: smooth !important;
  overflow: hidden;
}
b {
  font-weight: 600;
}
@keyframes closing {
  0% {
    right: 0;
  }
  100% {
    right: var(--menu-size-negative);
  }
}
@keyframes opening {
  0% {
    right: var(--menu-size-negative);
  }
  100% {
    right: 0;
  }
}
/* .split > .split-left+.split-right is a 60-40 split. */
.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.split-left {
  flex: 4;
}
nav {
  height: 20vh;
  width: 100%;
  background-image: url(/pattern.png);
  background-size: contain;
  display: flex;
  justify-content: space-between;
}
.center-horizontal {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  /* background-image: url("/CLUB FEZ NEW.png"); */
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
}
.nav-button {
  background: transparent !important;
  transition: all 0.25s;
  font-family: "Josefin Slab" !important;
  font-size: 1.5rem;
}
.nav-button:hover {
  color: var(--brown);
}
.image {
  width: 100%;
  height: 100%;
  background-image: url(/PARTY_INVITE.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  right: 0;
  top: 0;
}
* {
  scroll-behavior: smooth;
}
.section {
  position: relative;
  max-width: 100%;
}
::-webkit-scrollbar {
  width:7px;
}
::-webkit-scrollbar-track {
  background: var(--brown);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 10px;
  max-width: 5px;
}
.menu-button {
  color: var(--brown);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
  font-size: 1.25rem;
  background: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--brown);
  cursor: pointer;
  transition: all 0.25s;
}
.menu-button:hover {
  font-size: 1.5rem;
}
.presents {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8vh;
}
.pointer {
  cursor: pointer;
}
.presents > img {
  width: 60%;
  border: 8px solid var(--brown);
}
.thick-border {
  border: 8px solid var(--brown);
}
.three-posters {
  display: flex;
  gap: 20px;
}
.three-posters img {
  width: 50%;
  border: 8px solid var(--brown);
}
.three-posters > .presents {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bigger {
  width: 50% !important;
}
.party-image {
  border: 7px solid var(--brown);
}
.section-detail {
  width: 100%;
  background-image: url(/deco.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 40px;
}
div > h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-family: "Lansbury", sans-serif;
}
.split-right {
  flex: 6;
  padding: 20px;
  overflow-y: scroll !important;
  overflow-x: hidden;
  height: 80vh;
}

.click {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--red);
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card > img {
  border-radius: 15px;
}
.card > span {
  font-size: 1rem;
}
.click {
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.25s;
}
.click:hover {
  background: var(--brown);
  color: white;
}
.buttons > a > span, .buttons > a > i {
  color: white;
}
h2 {
  color: var(--brown);
}
span {
  font-size: 1.5rem;
  font-family: 'Josefin Slab';
  font-weight: 500;
}

.faq-question {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--brown);
}

a:not(.click) {
  color: var(--brown);
  text-decoration: underline;
  font-size: 1.5rem;
}

.map {
  width: 80%;
  height: 12rem;
  border: 1px solid var(--brown);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.map > iframe {
  height: calc(100% + 15px);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.menu {
  width: var(--menu-size);
  height: 100vh;
  position: absolute;
  top: 0;
  right: var(--menu-size-negative);
  background: var(--bg);
  z-index: 4;
  padding: 20px;
  background: white;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}
.menu.open {
  animation: opening 0.25s forwards;
}
.menu:not(.open) {
  animation: closing 0.25s forwards;
}
.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-items > a {
  text-decoration: none !important;
  font-size: 1.25rem;
}
.mobile-only {
  display: none;
}
@media only screen and (max-width: 750px) {
  .three-posters {
    flex-direction: column;
  }
  .three-posters > .presents {
    width: 100%;
  }
  .three-posters img {
    width: 100%;
  }
  .nbml {
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  .nbmr {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  /* split left is now on top and not sticky image */
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .split {
    flex-direction: column;
    display: block;
  }
  .split-left {
    flex: 3;
  }
  .split-right {

  }
  .image {
    position: relative;
    background-image: url(/PHOTO_INVITE.jpg);
    height: 30vh;
  }
  .mobile100 {
    width: 100% !important;
  }
  nav {
    background-size: 200%;
  }
}
